<div class="row col-md-12 col-sm-12 text-center" style="margin-top: 19px;">
  <div class="col-md-3 dashboard-img-box text-center">
    <div class="dashboard-image-text"><b><%= link_to 'Exams', exams_path %></b></div>
  </div>
  <div class="col-md-3 dashboard-img-box text-center align-dashboard-image">
    <div class="dashboard-image-text"><b><%= link_to 'Assign task', new_assignment_path %></b></div>
  </div>
  <div class="col-md-3 dashboard-img-box text-center align-dashboard-image">
    <div class="dashboard-image-text"><b><%= link_to 'Completed Assignment', completed_assignments_path %></b>
    </div>
  </div>
</div>